Loại bỏ các thư mục nặng để upload nhanh lên GCP

node_modules
dist
build
.git
.gitignore
.dockerignore
.gcloudignore
.vscode
.idea
.DS_Store
*.md
tests
test
coverage
uploads

Loại bỏ các file log và môi trường local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

LƯU Ý: Đã xóa service-account-key.json khỏi đây để Docker có thể copy được

Tuy nhiên bạn vẫn nên để file này trong .gitignore của GitHub để bảo mật

Loại bỏ các file build tạm

tsconfig.tsbuildinfo